body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin-top: 20px;
}

.street-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.street {
  margin: 20px auto;
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 10px;
}

.light {
  font-size: 50px;
  color: #ccc; /* Light off color */
  margin: 10px;
}

.light.on {
  color: yellow; /* Light on color */
}
